<div class="flex-container">
  <select [(ngModel)]="currentType" (change)="change()">
    <option value="instructor">Add Instructor</option>
    <option value="course">Add Course</option>
    <option value="courseSection">Add Course Section</option>
    <option value="nonInstruct">Add Non-Instructional Load</option>
  </select>
</div>

<div class="page-container">
  <!-- Add Instructor Form -->
  <div class="vertical-35" *ngIf="currentType == 'instructor'">

    <div class="form-container">
      <h2>Add Instructor</h2>
      <app-input-field label="First Name:" [(data)]="instructor.fName"></app-input-field>
      <app-input-field label="Last Name:" [(data)]="instructor.lName"></app-input-field>
      <app-input-field label="Email:" [(data)]="instructor.email"></app-input-field>
      <app-input-field label="Desired Load:" [(data)]="instructor.desiredLoad" type="number"></app-input-field>
      <!-- This should just be a number of 7ths that will get translated -->
      <button class="btn" (click)="add()">Submit</button>
      <div class="message"><label>{{ indicator }}</label></div>
    </div>
  </div>

  <!-- Add Course Form -->
  <div *ngIf="currentType == 'course'">
    <div class="form-container">
      <h2>Add Course</h2>

      <app-input-field label="Course Title:" [(data)]="course.title"></app-input-field>
      <app-input-field label="Course ID:" [(data)]="course.id"></app-input-field>
      <app-input-field label="Department:" [(data)]="course.department"></app-input-field>
      <app-input-field label="Number of Credits:" [(data)]="course.numCredits" type="number"></app-input-field>
      <button class="btn" (click)="add()">Submit</button>
      <div class="message"><label>{{ indicator }}</label></div>
    </div>
  </div>

  <!-- Add Section Form -->
  <div *ngIf="currentType == 'courseSection'">
    <div class="form-container">
      <h2>Add Course Section</h2>

      <app-input-field label="Course ID:" [(data)]="courseSection.id" type="select"
        [values]="courseIDs"></app-input-field>
      <app-input-field label="Section Number:" [(data)]="courseSection.sectionNum" type="number"></app-input-field>
      <app-input-field label="Class Mod:" [(data)]="courseSection.classMod" type="select"
        [values]="classMods"></app-input-field>
      <app-input-field label="Semester:" [(data)]="courseSection.semester" type="select"
        [values]="['Fall','Spring','Interim']"></app-input-field>
      <app-input-field label="Year:" [(data)]="courseSection.year" type="number" min="2022"></app-input-field>
      <button class="btn" (click)="add()">Submit</button>
      <div class="message"><label>{{ indicator }}</label></div>
    </div>
  </div>

  <!-- Add Non Instructional Load Form -->
  <div *ngIf="currentType == 'nonInstruct'">
    <div class="form-container">
      <h2>Add Non-Instructional Load</h2>
      <app-input-field label="Task:" [(data)]="nonInstruct.task"></app-input-field>
      <app-input-field label="Instructor ID:" [(data)]="nonInstruct.instructorId" type="select" [values]="instructorIDs"
        [displayValues]="instructorNames"></app-input-field>
      <app-input-field label="Non-Instructional TEU:" [(data)]="nonInstruct.nonInstructTeu"></app-input-field>
      <app-input-field label="Semester:" [(data)]="nonInstruct.semester" type="select"
        [values]="['Fall','Spring','Interim']"></app-input-field>
      <app-input-field label="Year:" [(data)]="nonInstruct.year" type="number" min="2022"></app-input-field>
      <button class="btn" (click)="add()">Submit</button>
      <div class="message"><label>{{ indicator }}</label></div>
    </div>
  </div>

  <div class="form-container">
    <div>
      <app-results-panel *ngIf="currentType == 'instructor'" [resultsObject]="data" [columns]="[
          ['first_name','First Name','m'],
          ['last_name', 'Last Name','m'],
          ['instructor_id', 'ID','s'],
          ['email', 'Email','l'],
          ['desired_load', 'Desired Load','s']
          ]" (sortEvent)="sort($event)" [deleteBtn]="true" (deleteEvent)="deleteRecord($event)" [editBtn]="false"
        (editEvent)="editRecord($event)" height="400px"></app-results-panel>

      <app-results-panel *ngIf="currentType == 'course'" [resultsObject]="data" [columns]="[
          ['course_id','ID','s'],
          ['course_title', 'Course Title','l'],
          ['department', 'Department','m'],
          ['num_credits', 'Credits','s']
          ]" (sortEvent)="sort($event)" [deleteBtn]="true" (deleteEvent)="deleteRecord($event)" [editBtn]="false"
        (editEvent)="editRecord($event)" height="400px"></app-results-panel>

      <app-results-panel *ngIf="currentType == 'courseSection'" [resultsObject]="data" [columns]="[
        ['course_id','ID','s'],
        ['course_title', 'Course Title','l'],
        ['section_num', 'Section Number','s'],
        ['semester', 'Semester','s'],
        ['year', 'Year','s'],
        ['class_mod', 'Class Mod','s'],
        ['instructor_id', 'Instructor', 's']
        ]" (sortEvent)="sort($event)" [deleteBtn]="true" (deleteEvent)="deleteRecord($event)" [editBtn]="true"
        (editEvent)="editRecord($event)" height="400px"></app-results-panel>

      <app-results-panel *ngIf="currentType == 'nonInstruct'" [resultsObject]="data" [columns]="[
        ['task','Task','s'],
        ['instructor_id', 'Instructor ID','s'],
        ['ni_teu', 'TEU','s'],
        ['semester', 'Semester','s'],
        ['year', 'Year','s'],
        ]" (sortEvent)="sort($event)" [deleteBtn]="true" (deleteEvent)="deleteRecord($event)" [editBtn]="false"
        (editEvent)="editRecord($event)" height="400px"></app-results-panel>

    </div>
  </div>
</div>

<br />
<label *ngIf="currentType == 'instructor'">
  {{ getInstructor() }}
</label>
<label *ngIf="currentType == 'course'">
  {{ getCourse() }}
</label>
<label *ngIf="currentType == 'courseSection'">
  {{ getCourseSection() }}
</label>
<label *ngIf="currentType == 'nonInstruct'">
  {{ getNonInstruct() }}
</label>
<br />

<dialog id="dialog">
  <div *ngIf="currentType =='courseSection' && toEdit != null" class="form-container">
    <h2>Assign Instructor</h2>
    <div class="form-container bubble">
      <label><u><strong>Current Section:</strong></u></label>
      <app-display-field [value]="toEdit.section_id" label="Section ID"></app-display-field>
      <app-display-field [value]="toEdit.course_id" label="Course ID"></app-display-field>
      <app-display-field [value]="toEdit.section_num" label="Section Num"></app-display-field>
      <app-display-field [value]="toEdit.semester" label="Semester"></app-display-field>
      <app-display-field [value]="toEdit.year" label="Year"></app-display-field>
      <app-display-field [value]="toEdit.class_mod" label="class_mod"></app-display-field>
      <app-display-field [value]="toEdit.instructor_id" label="instructor_id"></app-display-field>
    </div>
    <div class="form-container bubble">
      <div></div>
      <app-input-field label="New Instructor:" [(data)]="teachesID" type="select" [values]="instructorIDs"
        [displayValues]="instructorNames"></app-input-field>
    </div>
    <button (click)="assignInstructor()">Assign Instructor</button>
    <div class="status">
      Status: {{ status }}
    </div>

  </div>

  <button (click)="closeDialog()" class="right">Close</button>
</dialog>