app-input-field:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.6);
}

.item {
  display: flex;
  padding: 0.5em;
  margin: 0.25em;
  border: 1px #000 solid;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.message {
  margin: 0.5em;
  display: inline-block;
  max-width: 400px;
}

.page-container {
  display: flex;
  align-items: flex-start;
}

.vertical-35 {
  max-width: 35%;
}

.results {
  margin: 0.5em;
  max-height: 400px;
  overflow-y: scroll;
}

.test::after {
  content: "↓";
}
