/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Consolas", sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0.25em;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  content: "";
  background-color: #0446aa;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  button {
    padding: 13px 50px 13px;
  }
}

label {
  font-size: 16px;
}

input {
  margin: 0.25em;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 5px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: #fff;
}

select {
  margin: 0.25em;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 5px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.label-s {
  margin: 0.5em;
  display: inline-block;
  width: 100px;
}
.label-m {
  margin: 0.5em;
  display: inline-block;
  width: 175px;
}
.label-l {
  margin: 0.5em;
  display: inline-block;
  width: 250px;
}

.trash {
  margin: 0.1em;
  margin-top: 0.25em;
  max-width: 12px;
  max-height: 12px;
  opacity: 20%;
}

.trash:hover {
  transition-property: all;
  transition-duration: 0.5s;
  max-width: 24px;
  max-height: 24px;
  opacity: 60%;
}

.edit {
  margin: 0.1em;
  margin-top: 0.25em;
  max-width: 12px;
  max-height: 12px;
  opacity: 20%;
}

.edit:hover {
  transition-property: all;
  transition-duration: 0.5s;
  max-width: 24px;
  max-height: 24px;
  opacity: 60%;
}
