$blue: #3498db;

button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  border-color: $blue;
  color: #fff;
  box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
  transition: all 150ms ease-in-out;

  &:hover {
    color: #000;
    outline: 0;
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
  }
}

input {
  padding: 0.25em;
  border-radius: 4px;
  margin-right: 0.25em;
}

.flex-container {
  display: flex;
  justify-content: center;
}
