<div class="flex-container">
  <ul class="nav">
    <li>
      <img src="https://www.birdorable.com/img/bird/th440/eurasian-wigeon.png" width="50" height="50" />
    </li>
    <li [ngClass]="{ active: current == 'home' }">
      <a (click)="goToAdd()">Home</a>
    </li>
    <li [ngClass]="{ active: current == 'reports' }">
      <a (click)="goToReports()">Reports</a>
    </li>
    <li [ngClass]="{ active: current == 'time-warp' }">
      <a (click)="goToTimeWarp()">Time Warp!!!</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>