<!DOCTYPE html>
<html>
<head>
<title>Reports Page</title>
</head>
<body>

<h1>Reports</h1>
<button type="button">Generate Report</button>
<div>
    <h3>Course Offerings as their assigned Instructor</h2>
    <p>The result of a query</p>
</div>

<div>
    <h3>Instructors and their assigned Course Offering</h2>
    <p>The result of a query</p>
</div>

<div>
    <h3>Courses that have not been assigned an Instructor</h2>
    <p>The result of a query</p>
</div>

<div>
    <h3>Instructors not at their desired load</h2>
    <p>The result of a query</p>
</div>

<div>
    <h3>Course offerings without an assigned time</h3>
    <p>The result of a query</p>
</div>

<div>
    <h3>Times for each course</h3>
    <p>The result of a query</p>
</div>

<div>
    <h3>Times each instuctor teaches</h3>
    <p>The result of a query</p>
</div>

</body>
</html>